.container {
    margin-bottom: 50px; 
}
body {
    padding-top: 56px;
    font-family: 'Arial', sans-serif;
}

.navbar {
    border-bottom: 4px solid #28a745; 
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1.2rem; 
}

.jumbotron {
    background: #f8f9fa;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.jumbotron h1 {
    color: #28a745; 
}

.jumbotron p {
    font-size: 1.2rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff; 
}

.btn-success {
    background-color: #28a745; 
    border-color: #28a745;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #343a40;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
    font-size: 0.9rem;

}


@media (max-width: 576px) {
    .navbar {
        border-bottom: none; 
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-nav .nav-link {
        font-size: 1rem; 
    }
}

.footer p {
    margin: 0;
    padding: 0;
}
